
.billMessage{font-size: medium;color:#0000ff ;background-color:white ;font-weight: bold;
               text-decoration: blink;}

.billMsgValue{
    font-size: medium;color:#0000ff ;font-weight: bold;
}