/* 
    Document   : styles
    Created on : May 12, 2010, 9:53:46 AM
    Author     : gchege
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

td.bgclr{
    
    background-color: #99ccff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #000066;
}
