.va12_n {
    font-family: verdana, arial;
    font-size: 12px;
    color: #000099
}

.a10_b {
    font-family: arial;
    font-size: 10px;
    color: #000000
}

.a10_n {
    font-family: arial;
    font-size: 10px;
    color: #000099
}

.pg1{
    border-top: solid;border-bottom: solid;border-left: solid;border-right: solid;border-width: thin;
    background-color:#b0ccf2;
}

.pg2{
    border-top: solid;border-bottom: solid;border-left: solid;border-right: solid;border-width: thin;
    width:400px; ;background-color:#b0ccf2;
}

.testName{
    font-size:medium ;color: #800000;font-weight: bold;
}


.main{
    padding: 15px;
    width: 100%;
}


.txtheading{
    font-size: 20px;
    font-weight: bold;
    background-color: #04648c;
    color:#ffffff;
}

#laboratory
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#laboratory td, #laboratory th 
{
    font-size:small;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}
#laboratory th 
{
    font-size:small;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}
#laboratory tr.alt td 
{
    color:#000000;
    background-color:#EAF2D3;
}

#laboratory td.titles  
{
    color:#04648c;
    font-size: small;
    font-weight: bold;
    text-align: center;
}
#laboratory td.totals  
{
    color:#04648c;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

#labTitles{
    width:100%;
    border-collapse:collapse;
    margin: -7px 0px 3px 0px;
}

#labTitles th {
    font-family:verdana, arial, tahoma;
    font-size: 20px;
    font-weight:bold;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#99CCFF;
    color:#330066;
}

#subTitles{
    background-color: #99CCFF;
    font-size: large;
    font-family: verdana, arial, tahoma;
    font-weight: bold;
}

.billMsgValue{
    font-size: medium;color:#0000ff ;font-weight: bold;
}


