@CHARSET "ISO-8859-1";

.button {
	border-bottom-color: silver;
	border-left: none;
	border-right: thin;
	border-right-style: inset;
	border-right-color: silver; border-bottom : none;
	border-top: none;
	border-bottom: none;
	border-bottom: none;
}