/* 
    Document   : test
    Created on : Jun 11, 2010, 3:57:39 PM
    Author     : gchege
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

