$panel-body-color: rgba(245,245,245,1);
$menu-glyph-color: #fff;
$menu-item-active-text-color: rgba(255,255,255,1);
$menu-item-arrow-glyph-color: rgba(246,243,243,1);
$menu-text-color: rgba(245,245,245,1);
$form-checkbox-label-color: rgba(0,0,0,1);