/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2017, 10:39:21 AM
    Author     : George
*/



body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c6c9c5;
    font: 12pt "Tahoma";
}

*{
    box-sizing: border-box;
    -moz-box-sizing :border-box;
}

.page{
    width: 216mm;
    min-height: 279mm;
    padding: 10mm 2cm 2cm 2cm;
    margin: 10mm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.subpage {
        padding: 5mm 1cm 1cm 5mm;
        border: 1px green solid;
        height: 239mm; /* .page height -40mm (20 off top/bottom) */
        /*outline: 2cm #d3dfea solid;*/
        display: table;
    }
    
    @page {
        size: Letter;
        margin: 0;
    }
    @media print {
        html, body {
            width: 216mm;
            height: 279mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    .logo{
        text-align: center;
    }
    
    .invTitle{
        text-align: left;
        font-family: sans-serif;
        font-size: small;
        font-weight: bold;
    }
    
    .invDetails{
        font-style: italic;
        font-family: helvetica;
        font-size: 12px;
        padding: 4px;
    }
    
    .summaryTitle{
        text-align: center;
        font-family: sans-serif;
        font-size: large;
        font-weight: bold;
    }
    
        
    .itemTitles{
        font-size: x-small;
        font-weight: bold;
    }
    
    .titlesRow{
        border: 2px solid #006064;
    }
    
    .pageNos{
        font-style: normal;
        font-family: helvetica;
        font-size: smaller;
        text-align: center;
    }
    th{
        border: 1px solid buttonshadow;
        background-color: #4caf50;
        color:white;
    }


    .treatmentpage {
        height: 100%;
        width: 500px;
        border: solid 1px blue;
        outline: solid 1px red;
    }


    /*tr:nth-child(even){background-color: #f2f2f2}*/